# Add symlink to this file in /etc/systemd/system
# sudo ln -s /home/pi/pi-alarm/tools/librespot-java/librespot.service /etc/systemd/system/librespot.service
[Unit]
Description=Librespot Service
After=network.target

[Service]
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/pi-alarm/tools/librespot-java
ExecStart=/home/pi/pi-alarm/tools/librespot-java/librespot.sh

[Install]
WantedBy=multi-user.target