# Add symlink to this file in /etc/systemd/system
# sudo ln -s /home/pi/pi_alarm/tools/librespot-java/spotify_connect.service /etc/systemd/system/spotify_connect.service
[Unit]
Description=Spotify Connect Service
After=network.target

[Service]
StartLimitIntervalSec=0[Service]
Type=simple
#Restart=always
#RestartSec=1
User=pi
WorkingDirectory=/home/pi/pi_alarm/tools/librespot-java
ExecStart=/home/pi/pi_alarm/tools/librespot-java/spotify_connect.sh

[Install]
WantedBy=multi-user.target