# Add symlink to this file in /etc/systemd/system
# sudo ln -s /home/pi/pi_alarm/pi_alarm.service /etc/systemd/system/pi_alarm.service
[Unit]
Description=Pi Alarm Service
After=network.target

[Service]
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pi_alarm
ExecStart=/home/pi/pi_alarm/pi_alarm.sh

[Install]
WantedBy=multi-user.target